<h1 id="titleHeading"></h1>
  <div id="content">
    <div id="retrobg">
        <div id="retrobg-sky">
          <div id="retrobg-stars">
            <div class="retrobg-star" style="left:  5%; top: 55%; transform: scale( 2 );"></div>
            <div class="retrobg-star" style="left:  7%; top:  5%; transform: scale( 2 );"></div>
            <div class="retrobg-star" style="left: 10%; top: 45%; transform: scale( 1 );"></div>
            <div class="retrobg-star" style="left: 12%; top: 35%; transform: scale( 1 );"></div>
            <div class="retrobg-star" style="left: 15%; top: 39%; transform: scale( 1 );"></div>
            <div class="retrobg-star" style="left: 20%; top: 10%; transform: scale( 1 );"></div>
            <div class="retrobg-star" style="left: 35%; top: 50%; transform: scale( 2 );"></div>
            <div class="retrobg-star" style="left: 40%; top: 16%; transform: scale( 2 );"></div>
            <div class="retrobg-star" style="left: 43%; top: 28%; transform: scale( 1 );"></div>
            <div class="retrobg-star" style="left: 45%; top: 30%; transform: scale( 3 );"></div>
            <div class="retrobg-star" style="left: 55%; top: 18%; transform: scale( 1 );"></div>
            <div class="retrobg-star" style="left: 60%; top: 23%; transform: scale( 1 );"></div>
            <div class="retrobg-star" style="left: 62%; top: 44%; transform: scale( 2 );"></div>
            <div class="retrobg-star" style="left: 67%; top: 27%; transform: scale( 1 );"></div>
            <div class="retrobg-star" style="left: 75%; top: 10%; transform: scale( 2 );"></div>
            <div class="retrobg-star" style="left: 80%; top: 25%; transform: scale( 1 );"></div>
            <div class="retrobg-star" style="left: 83%; top: 57%; transform: scale( 1 );"></div>
            <div class="retrobg-star" style="left: 90%; top: 29%; transform: scale( 2 );"></div>
            <div class="retrobg-star" style="left: 95%; top:  5%; transform: scale( 1 );"></div>
            <div class="retrobg-star" style="left: 96%; top: 72%; transform: scale( 1 );"></div>
            <div class="retrobg-star" style="left: 98%; top: 70%; transform: scale( 3 );"></div>
          </div>
          <div id="retrobg-sunWrap">
            <div id="retrobg-sun"></div>
          </div>
          <div id="retrobg-mountains">
            <div id="retrobg-mountains-left" class="retrobg-mountain"></div>
            <div id="retrobg-mountains-right" class="retrobg-mountain"></div>
          </div>
          <div id="retrobg-cityWrap">
            <div id="retrobg-city">
              <div style="left:  4.0%; height: 20%; width: 3.0%;" class="retrobg-building"></div>
              <div style="left:  6.0%; height: 50%; width: 1.5%;" class="retrobg-building"></div>
              <div style="left:  8.0%; height: 25%; width: 4.0%;" class="retrobg-building"></div>
              <div style="left: 12.0%; height: 30%; width: 3.0%;" class="retrobg-building"></div>
              <div style="left: 13.0%; height: 55%; width: 3.0%;" class="retrobg-building retrobg-antenna"></div>
              <div style="left: 17.0%; height: 20%; width: 4.0%;" class="retrobg-building"></div>
              <div style="left: 18.5%; height: 70%; width: 1.5%;" class="retrobg-building"></div>
              <div style="left: 20.0%; height: 30%; width: 4.0%;" class="retrobg-building"></div>
              <div style="left: 21.5%; height: 80%; width: 2.0%;" class="retrobg-building retrobg-antenna"></div>
              <div style="left: 25.0%; height: 60%; width: 4.0%;" class="retrobg-building"></div>
              <div style="left: 28.0%; height: 40%; width: 4.0%;" class="retrobg-building"></div>
              <div style="left: 30.0%; height: 70%; width: 4.0%;" class="retrobg-building"></div>
              <div style="left: 35.0%; height: 65%; width: 4.0%;" class="retrobg-building retrobg-antenna"></div>
              <div style="left: 38.0%; height: 40%; width: 3.0%;" class="retrobg-building"></div>
              <div style="left: 42.0%; height: 60%; width: 2.0%;" class="retrobg-building"></div>
              <div style="left: 43.0%; height: 85%; width: 4.0%;" class="retrobg-building retrobg-antenna"></div>
              <div style="left: 45.0%; height: 40%; width: 3.0%;" class="retrobg-building"></div>
              <div style="left: 48.0%; height: 25%; width: 3.0%;" class="retrobg-building"></div>
              <div style="left: 50.0%; height: 80%; width: 4.0%;" class="retrobg-building"></div>
              <div style="left: 52.0%; height: 32%; width: 5.0%;" class="retrobg-building"></div>
              <div style="left: 55.0%; height: 55%; width: 3.0%;" class="retrobg-building retrobg-antenna"></div>
              <div style="left: 58.0%; height: 45%; width: 4.0%;" class="retrobg-building"></div>
              <div style="left: 61.0%; height: 90%; width: 4.0%;" class="retrobg-building"></div>
              <div style="left: 66.0%; height: 99%; width: 4.0%;" class="retrobg-building retrobg-antenna"></div>
              <div style="left: 69.0%; height: 30%; width: 4.0%;" class="retrobg-building"></div>
              <div style="left: 73.5%; height: 90%; width: 2.0%;" class="retrobg-building"></div>
              <div style="left: 72.0%; height: 70%; width: 4.0%;" class="retrobg-building"></div>
              <div style="left: 75.0%; height: 60%; width: 4.0%;" class="retrobg-building"></div>
              <div style="left: 80.0%; height: 40%; width: 4.0%;" class="retrobg-building"></div>
              <div style="left: 83.0%; height: 70%; width: 4.0%;" class="retrobg-building retrobg-antenna"></div>
              <div style="left: 87.0%; height: 60%; width: 3.0%;" class="retrobg-building retrobg-antenna"></div>
              <div style="left: 93.0%; height: 50%; width: 3.0%;" class="retrobg-building"></div>
              <div style="left: 91.0%; height: 30%; width: 4.0%;" class="retrobg-building"></div>
              <div style="left: 94.0%; height: 20%; width: 3.0%;" class="retrobg-building"></div>
              <div style="left: 98.0%; height: 35%; width: 2.0%;" class="retrobg-building"></div>
            </div>
          </div>
        </div>
        <div id="retrobg-ground">
          <div id="retrobg-linesWrap">
            <div id="retrobg-lines">
              <div id="retrobg-vlines">
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
                <div class="retrobg-vline"></div>
              </div>
              <div id="retrobg-hlines">
                <div class="retrobg-hline"></div>
                <div class="retrobg-hline"></div>
                <div class="retrobg-hline"></div>
                <div class="retrobg-hline"></div>
                <div class="retrobg-hline"></div>
                <div class="retrobg-hline"></div>
                <div class="retrobg-hline"></div>
                <div class="retrobg-hline"></div>
              </div>
            </div>
          </div>
          <div id="retrobg-groundShadow"></div>
        </div>
      </div>
      
    <div id="canvasContainer">
      <canvas id="canvas"></canvas>
      <canvas id="canvas2"></canvas>
      <img id="visualizerImg" />
    </div>
    
    <div id="controls">
      <input type="file" id="thefile" accept="audio/*" />
      <input type="text" id="songTitle" placeholder="Enter song title" />
    </div>
    <audio id="audio"></audio>
  </div>

  <script>
    window.onload = function() {
      var file = document.getElementById("thefile");
      var audio = document.getElementById("audio");

      file.onchange = function() {
        var files = this.files;
        audio.src = URL.createObjectURL(files[0]);
        audio.load();
        audio.play();

        $("#titleHeading").text($("#songTitle").val());
        $("#songTitle").hide();
        $("#thefile").hide();

        var context = new AudioContext();
        var src = context.createMediaElementSource(audio);
        var analyser = context.createAnalyser();

        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext("2d");

        function resizeCanvas() {
          canvas.width = window.innerWidth;
          canvas.height = window.innerHeight;
        }

        window.addEventListener("resize", resizeCanvas);
        resizeCanvas();

        src.connect(analyser);
        analyser.connect(context.destination);

        analyser.fftSize = 256;
        var bufferLength = analyser.frequencyBinCount;
        var dataArray = new Uint8Array(bufferLength);

        var waveformRadius = Math.min(canvas.width, canvas.height) * 0.35 * 0.7;
        var innerCircleRadius = waveformRadius * 0.7;

        var gradient = ctx.createLinearGradient(0, canvas.height / 2 - waveformRadius, 0, canvas.height / 2 + waveformRadius);
        gradient.addColorStop(0, "#005eff"); // Blue
        gradient.addColorStop(0.5, "#ff68ff"); // Pink
        gradient.addColorStop(0.8, "#cc00cc"); // Purple
        gradient.addColorStop(1, "#ffff00"); // Yellow

        var barWidth = (2 * Math.PI * innerCircleRadius) / bufferLength;

        function renderFrame() {
          requestAnimationFrame(renderFrame);

          analyser.getByteFrequencyData(dataArray);

          ctx.clearRect(0, 0, canvas.width, canvas.height);

          var sliceAngle = (2 * Math.PI) / bufferLength;

          for (var i = 0; i < bufferLength; i++) {
            var frequency = (i / bufferLength) * (context.sampleRate / 2);
            var amplitude = dataArray[i] / 128;

            if (frequency > 10000) {
              amplitude *= 1.5;
            }

            var barHeight = amplitude * (waveformRadius - innerCircleRadius);
            var angle = sliceAngle * i - Math.PI / 2;
            var centerX = canvas.width / 2;
            var centerY = canvas.height / 2;
            var startX = centerX + Math.cos(angle) * innerCircleRadius;
            var startY = centerY + Math.sin(angle) * innerCircleRadius;
            var endX = centerX + Math.cos(angle) * (innerCircleRadius + barHeight);
            var endY = centerY + Math.sin(angle) * (innerCircleRadius + barHeight);

            ctx.beginPath();
            ctx.moveTo(startX, startY);
            ctx.lineTo(endX, endY);
            ctx.strokeStyle = gradient;
            ctx.lineWidth = barWidth;
            ctx.stroke();
          }

          ctx.beginPath();
          ctx.arc(canvas.width / 2, canvas.height / 2, innerCircleRadius, 0, 2 * Math.PI);
          ctx.strokeStyle = "#ffffff";
          ctx.lineWidth = 3;
          ctx.stroke();
        }

        // Second Visualizer
        var canvas2 = document.getElementById("canvas2");
        var ctx2 = canvas2.getContext("2d");

        function resizeCanvas2() {
          canvas2.width = window.innerWidth;
          canvas2.height = window.innerHeight * 0.3;
        }

        window.addEventListener("resize", resizeCanvas2);
        resizeCanvas2();

        var gradient2 = ctx2.createLinearGradient(0, canvas2.height, 0, 0);
        gradient2.addColorStop(0, "#005eff"); // Blue
        gradient2.addColorStop(0.25, "#cc00cc"); // Purple
        gradient2.addColorStop(0.5, "#ff68ff"); // Pink
        gradient2.addColorStop(1, "#ffff00"); // Yellow

        function renderFrame2() {
          requestAnimationFrame(renderFrame2);

          analyser.getByteTimeDomainData(dataArray);

          ctx2.clearRect(0, 0, canvas2.width, canvas2.height);

          var sliceWidth = canvas2.width / bufferLength;
          var x = 0;

          ctx2.beginPath();
          ctx2.moveTo(x, canvas2.height / 2);
          ctx2.strokeStyle = gradient2;
          ctx2.lineWidth = 2;

          for (var i = 0; i < bufferLength; i++) {
            var v = dataArray[i] / 128.0;
            var y = (v * canvas2.height) / 2;

            ctx2.lineTo(x, y);
            x += sliceWidth;
          }

          ctx2.lineTo(canvas2.width, canvas2.height / 2);
          ctx2.stroke();
        }

        audio.play();
        renderFrame();
        renderFrame2();
      };
    };

    $(document).ready(function() {
        $(document).on('keydown', function(event) {
            if (event.key === "Escape") {
                $("#songTitle").show();
                $("#thefile").show();
            }
        });
    });
  </script>